<h1>🍞 KOPAN 🍞</h1>
<ul class ='login'>
  <% if user_signed_in? %>
    <li class = "user_name" ><%= current_user.name%></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%></li>
  <% else %>
    <li><%= link_to 'ログイン',new_user_session_path, class: "log_in" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "new_user"%></li>
  <% end %>
</ul>